
<div class="adicionar">
  <button class="adicionar" [routerLink]="['/criar-nota']" >Criar nota</button>
  <div class="exibicao">
  <h1> >As notas adicionadas são exibidas aqui</h1>
</div>


  
 <div *ngIf="listaNotas.length > 0">
        <div *ngFor="let nota of listaNotas">
            <app-nota [nota]="nota"></app-nota>
        </div>
    </div>

    <ng-template>
      <div>
          <p>Não há notas =(</p>
      </div>
  </ng-template>
  

<!--
<section class="icones-parte-inferior">
  <div>
    <i class="fa-solid fa-trash"></i>
    <i class="fa-solid fa-clock-rotate-left"></i>
    <i class="fa-solid fa-table-cells-large"></i>
  </div>
</section>
-->


