
.adicionar_button{
  border: none;
  background-color: white;
  justify-content: center;
  margin-left: 325px;
}

.container{
  align-items: center;
  padding-left: 575px;
  justify-content: center;
  margin-top: -150px;
  font-size: 25px;
  font-family: 'Alegreya Sans';
}

.exibicao{
  padding-right: 170px;
}


