<div class="container">
  <div class="adicionar">
    <button class="adicionar_button" [routerLink]="['/criar-nota']" >Criar nota</button> <!--routerLink- serve para definir uma rota para criação de nota-->
 </div>
 
   <div class="exibicao">
     <h1> As notas adicionadas são exibidas aqui</h1>
   </div>
</div>


 <div *ngIf="listaNotas.length > 0, else semNotas">
        <div *ngFor="let nota of listaNotas">
          <app-notas [nota]="nota"></app-notas>
        </div>
    </div>

    <ng-template #semNotas>
      <div>
          <p>Não há notas =</p>
      </div>
  </ng-template>
