<header>
  <nav class="cabecalho">
    <i class="fa-solid fa-bars icone"></i>

    <div class="icones-nav">
      <p class="pesquisar">Pesquisar...</p>
       <i  class="fa-solid fa-magnifying-glass icone"></i>
    </div>


    <i class="fa-solid fa-gear icone-config"></i>
  </nav>
  </header>

  <div class="esquerda">
    <div class="icons-parte-esquerda">
      <i class="fa-solid fa-palette icones"></i>
      <i class="fa-regular fa-bookmark icones"></i>
      <i class="fa-solid fa-calendar-days icones"></i>
      <i class="fa-solid fa-user-group icones"></i>
      <i class="fa-solid fa-inbox icones"></i>
  </div>
  </div>






